/* 바로 막 시작하지 말고 전반적으로 어떤 스타일, 색상 등을 사용할 것인지 생각*/
/* 일정하게 하기 위해 자주 사용될거 같은 것들은 변수를 정해서 관리*/

/*root 가 뭔지 ??*/
:root{

    /* Color */
--white-color: #ffffff;

/* Size */
--side-padding: 12px;
--avartar-size: 36px;

/* Font Size */
--font-large: 18px;



}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

/* Header */
header {
    display
}